// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
#app{
    display: flex;
    flex-direction: column;
}
*{
    margin: 0;  
    padding: 0;  
    border: 0; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    min-height: 100vh;
    position: relative;
    // height:100%;
    // background-color: black;
    background-image: url(https://images.unsplash.com/photo-1511207538754-e8555f2bc187?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2412&q=80);
    // background: rgb(0,0,0);
    // background: linear-gradient(177deg, rgba(0,0,0,1) 44%, rgba(114,93,104,1) 100%);    
    color:#f8fafc;
   
}
/****
    modified the defualt button to my choice of colors
 ****/
.btn {
    background-color: #297373;
    color: whitesmoke;
    border-color: whitesmoke;
}

.btn:hover{
    background-color: rgba(41,115,115,0.6);
    border-color: #297373;
}

input::placeholder{
    font-style: italic;
    
}

// body::before{
//     background-color: rgba(152, 66, 211, 0.63);
// }
.navbar.navbar-expand-md{
    // background-color: #725D68;
    background: rgb(0,0,0);
// background: linear-gradient(177deg, rgba(0,0,0,1) 44%, rgba(114,93,104,1) 100%);
    color:white;
}
.nav-link , .navbar-brand{
    color: white;
    font-weight: bold;
}
.heroBtn{
    background-color: #297373;
    color: white;
}

.bgimage {
    width:100%;
    height:500px;
    background: url('/assets/logo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    background-attachment: fixed;
    opacity: 0.8;
  }
  .bgimage h5 {
    color:white;
    text-shadow:2px 2px #333;
  }

  .card {
    background-color: rgba(1, 11, 19, 0.8);
    border: none;
    // background-color: #010B13;
    // margin-bottom: 15px;
    // border-color:linear-gradient(177deg, rgba(0,0,0,1) 44%, rgba(114,93,104,1) 100%) ;
  }

 .img-thumbnail {
     border: none;
    // background-color:#297373;
    // border:1px solid #297373;
    background: #1F1F1F;
    // background: linear-gradient(177deg, rgba(0,0,0,1) 44%, rgba(114,93,104,1) 100%);
  }

  .card-deck .card {
      margin-bottom: 15px;
    //   border-color: #3D3D3D;
    border: none;

  }
  .card-footer{
      border-color: #3D3D3D;
  }

  .text-muted{
      color: whitesmoke !important;
      text-align: left;
  }

  footer{
    background: rgb(0,0,0);
    // background: linear-gradient(177deg, rgba(0,0,0,1) 44%, rgba(114,93,104,1) 100%);
        color:white;
  }

  .card-title a{
      padding-top: 5px;
      padding-left: 10px;
      color:#F8FAFC;
      font-weight: bold;
      display: flex;
      justify-content: flex-start;
      align-items: center;
   
  }
  .container-fluid{
      padding-right: 0px;
      padding-left: 0px;
  }

  .py-4{
      padding-top: 0px !important;
  }
.mainInfo{
    padding:60px;
    display: flex;
    // flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(248, 250, 252, 0.1);
}

.mainInfo div h1{
    font-size: 5em;
    text-align: center;
}

.mainInfo div p{
    font-size: 2em;
    text-align: center;
}

.mainInfo div{
    width: 50%;
}

.latestPostText{
    font-size: 3em;
    padding: 20px;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px #CCCCCC;
}

footer {
    position: absolute;
    bottom: 0;
    height: 50px;
    width: 100%;
  }

  .login{
    display: flex;
    flex-direction: column;
    width: 100%;
      height: 100vh;
  }

  .login .row{
  
    width: 100%;
  }

/****
ABOUT PAGE STYLE
 ****/
  #aboutPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color:  rgba(248, 250, 252, 0.1);
  }

  .mainAbout{
      display: flex;
      justify-content: center;
      align-items: center;

  }
  .aboutText{
      width: 50%;
      text-align: center;
  }

  .aboutText h1{
      
  }
.aboutImg{
    width: 50%;
    padding: 20px;
}
  .meImg{
      width: 80%;
  }

.aboutDescription{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.aboutCoding{
    padding: 20px;
    font-size: 2em;

}

.confeeImg{
    display: flex;
}
.cImgWrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cImgWrap img{
    width: 50%;
}

.aboutPizza{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.aboutPizzaText{
    font-size: 2em;
    
    width: 20%;
}

.imagePizzaGall{
    display: flex;
    flex-wrap: wrap;
}

.imagePizzaGall img{
    width: 300px;
}
